.todo-list {
    position: relative;
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.todo-list li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr1bg);
}


.todo-list .color-picker {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    z-index: 1;
}

